@import url('https://fonts.googleapis.com/css2?family= Roboto :ital,wght@0,300;1,400 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: #FFDC42;
    font-family: 'Roboto', sans-serif;
}
.cabecalho-menu:hover{
    
}
.cabecalho{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-imagem{
    height: 150px;
    width: 200px;
    margin: none;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
color: #0001EF;
font-weight: 400;
font-size: 18px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
div#login{
    display: flex;
    padding: 24px;
    gap: 10px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.10px solid white;
}
.conteudo-principal-imagem{
    width: 1583px;
    height: 500px;
    margin-bottom: 48px;
    border: 0.10px solid white;
}
.conteudo-principal-escrito{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    height: 67px;
    width: 120px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px lightsalmon;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
div{
    text-align: center;
    padding: 20px 10px 10px 10px ;
}
.rodapé{
    background-color: rgb(3, 3, 248);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: baseline;
    justify-content: space-around;
    padding: 24px;
    border-top:  0.4px solid white;
    padding-top: 0px;
}

@media only screen and (min-width:1600px){
    .conteudo-principal-imagem{
        width: 1900px;
    }
}